p {
    text-align: center;
}

#plea {
    margin: 4rem;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#plea-text {
    padding: 2rem;
    padding-top: 0;
}

#plea div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.a-plea {
    font-weight: bold;
}

#purpose {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
}

#purpose-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    padding: 2rem 0;
}

#purpose-text p {
    margin-top: 1.5rem;
}

#purpose img {
    width: 45%;
}
