# Compiled
*.elc


# Backup files
*~

# Autosave
\#*\#

# impatient-mode sockets
.\#*

# tex and pdf files (org mode previews)
*.pdf
*.tex
!DesignIdeas.pdf

# scratch directory for experimental work
scratch

# org mode auto generated png files
org*png
