# Compiled
*.elc


# Backup files
*~

# Autosave
\#*\#

# impatient-mode sockets
.\#*

# tex and pdf files (org mode previews)
*.pdf
*.tex
!Design*Ideas.pdf

# scratch directory for experimental work
scratch
